{% extends "main.html" %} {% block styles %} {{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>
<style>
  .hero-container {
    width: 100vw;
    /* position: absolute;
    top: 0;
    left: 0; */
    margin: 0;
  }

  .hero {
    background: var(--md-primary-fg-color);
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    font-family: Inter;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
  }

  .home-content {
    margin-top: -50px;
    padding-bottom: 3rem;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
  }

  .home-content h2 {
    font-family: Poppins;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    font-size: 1.7rem;
  }

  .home-content a {
    font-weight: 600;
    opacity: 0.9;
  }

  .home-content ul.home {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .home-content ul.home li {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }

  .hero-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      185deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.4) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 3rem;
  }

  @media (max-width: 768px) {
    .hero-content {
      flex-direction: column;
      text-align: center;
    }
  }

  .hero-image {
    max-width: 400px;
  }

  .hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
  }

  .hero-text {
    max-width: 500px;
    text-align: left;
  }

  .hero-text p {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 440;
    line-height: 28px;
  }

  .hero h1 {
    font-family: Poppins;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.8rem;
    margin: 0;
    font-weight: 600;
  }

  .hero a,
  .hero a:link,
  .hero a:visited {
    display: inline-block;
    padding: 12px 24px;
    background: rgba(255, 255, 255, 0.8);
    color: var(--md-primary-fg-color);
    text-decoration: none;
    border-radius: 50px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-top: 1rem;
    font-size: 16px;
  }

  .hero a:hover,
  .hero a:active {
    background: rgba(255, 255, 255, 0.45);
    color: var(--md-primary-bg-color);
  }
</style>
{% endblock %} {% block tabs %} {{ super() }}
<div class="hero-container">
  <div class="hero">
    <div class="hero-content">
      <div class="hero-image">
        <img src="screenshot.png" alt="Gramps Web" />
      </div>
      <div class="hero-text">
        <h1>{{ config.site_name }}</h1>
        {% set lang = config.theme.language or 'en' %} {% set hero =
        home_translations.hero[lang] %}
        <p>{{ hero.description }}</p>
        <a href="https://demo.grampsweb.org/" target="_blank"
          ><b>{{ hero.demo_button }}</b> (owner / owner)</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="home-content">
  {% set lang = config.theme.language or 'en' %} {% set learn =
  home_translations.learn_more[lang] %}
  <h2>{{ learn.title }}</h2>
  <ul class="home">
    <li>
      <a href="features/">{{ learn.features.title }}</a><br />{{
      learn.features.description }}
    </li>
    <li>
      <a href="install_setup/setup/">{{ learn.install.title }}</a><br />{{
      learn.install.description }}
    </li>
    <li>
      <a href="administration/admin/">{{ learn.admin.title }}</a><br />{{
      learn.admin.description }}
    </li>
    <li>
      <a href="user-guide/">{{ learn.user_guide.title }}</a><br />{{
      learn.user_guide.description }}
    </li>
    <li>
      <a href="development/dev/">{{ learn.development.title }}</a><br />{{
      learn.development.description }}
    </li>
  </ul>
</div>

{% endblock %}
