{% extends "base.html" %}

{% block header %}
<div class="banner">
    <span></span>
</div>
{{ super() }}
{% endblock %}




{% block styles %}
{{ super() }}
<style>
  .banner {
    height: 24px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    display: none;  /* set to flex to show banner */
    align-items: center;
    justify-content: center;
    background-color: #66BB6A;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    font-family: Inter;
}

.banner a:link, .banner a:visited, .banner a:hover, .banner a:active {
    color: #fff;
    text-decoration: none;
}

.banner a:hover {
    font-weight: 600;
}

  .md-header {
      top: 0px;   /* set to 24px when banner is visible */
  }

</style>
{% endblock %}