nav:
  - Features:
      - Features: index.md
  - Setup:
      - Getting Started: setup.md
      - Try out locally: quickstart.md
      - Installation and Deployment:
          - Deploy with Docker: Deployment.md
          - Docker with Let's Encrypt: LetsEncrypt.md
          - DigitalOcean: DigitalOcean.md
      - Server Administration:
          - User system: Users.md
          - Server Configuration: Configuration.md
          - Using PostgreSQL: Postgres.md
          - Hosting media on S3: s3.md
          - Limit CPU usage: cpu-limited.md
          - Multi-tree setup: multi-tree.md
          - Frontend customization: frontend-config.md
          - Update: Update.md
          - 2.0 upgrade guide: setup/v2.md
  - Administration:
      - Introduction: admin.md
      - Create owner account: user-guide/owner.md
      - Import data: user-guide/import.md
      - Export data: user-guide/export.md
      - Manage search index: admin/search.md
      - Synchronize with Gramps: user-guide/sync.md
      # # - Command Line Interface: cli.md
      # - First steps:
      #   - Create owner account: user-guide/owner.md
  - Usage:
      - Introduction: user-guide/index.md
      - First steps:
        - Registration: user-guide/registration.md
        - First login: user-guide/first-login.md
      - Edit data:  
        - Add media files: user-guide/media.md
        - Tag people in photos: user-guide/tagging.md
        - Use the blog: user-guide/blog.md
        - Manage tasks: user-guide/tasks.md
      - Advanced features:
        - DNA: user-guide/dna.md
  - Development:
      - Overview: dev.md
      - Backend:
        - Introduction: dev-backend/index.md
        - Development setup: dev-backend/setup.md
        - API specification: dev-backend/api.md
        - Manual queries: dev-backend/queries.md
      - Frontend:
          - Introduction: dev-frontend/index.md
          - Architecture: dev-frontend/architecture.md
          - Development setup: dev-frontend/setup.md
          - Translation: dev-frontend/translation.md
  - Contribute: contribute.md
  - Get Help: help.md
site_name: Gramps Web
site_url: https://www.grampsweb.org
edit_uri: https://github.com/gramps-project/gramps-web-docs/blob/main/docs/
repo_url: https://github.com/gramps-project/gramps-web
theme:
  name: "material"
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.expand
    - navigation.footer
  palette:
    scheme: default
    primary: brown
    accent: blue
  logo: logo.svg
  favicon: favicon.ico
plugins:
  - search
markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - attr_list
  # - toc:
  #     toc_depth : "0"
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
